@import "tailwindcss";

@config '../../tailwind.config.ts';

@utility text-balance {
  text-wrap: balance;
}

:root {
  --background: #000000;
  --hero-background: #1e1e1e;
  --foreground: #121212;
  --foreground-light: #a8a8a8;
  --primary: #2a2a2a;
  --primary-dark: #1a1a1a;
  --primary-reverse: #f5f5f5;
  --radius: 8px;
  --divider: #2e2e2e;
  --secondary: #3a3a3a;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
